{{ define "main" }}
<article class="content">
  <header class="content-header">
    <h1>{{ .Title }}</h1>
    {{ with .Description }}<p class="lead">{{ . }}</p>{{ end }}
    {{ if .Params.use_lastmod }}
      {{ if not .Lastmod.IsZero }}<time datetime="{{ .Lastmod.Format "2006-01-02" }}">Last updated {{ .Lastmod.Format "January 2, 2006" }}</time>{{ end }}
    {{ end }}
  </header>
  <div class="content-body">{{ .Content }}</div>
  {{ with .Pages }}
  <ul class="page-list">
    {{ range . }}
    <li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>{{ with .Description }} <span class="page-list-desc">: {{ . }}</span>{{ end }}</li>
    {{ end }}
  </ul>
  {{ end }}
</article>
{{ end }}
